 .hello{
    margin-top: 30px;
    }
.logout-button{
    font-size: 1.2rem;
     margin-top: 20px;
     background-color: rgb(204, 13, 169);
     color: rgb(9, 8, 8);
}
.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    align-items: flex-start;
  }
  
  .input-box {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }